<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Телеграмм Подобие</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">
</head>

<body>
    <div class="sidebar">
        <ul class="chat-list" id="chatList">
            {% for user in users %}
            <li class="chat-item"
                onclick="openChat('{{ user.user_id }}', '{{ user.first_name }}', '{{ user.last_name }}')"
                id="chat_{{ user.user_id }}">
                {{user.first_name }} {{ user.last_name }}
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="main" id="chatWindow">
        <div class="chat-header" id="chatHeader"></div>
        <ul class="chat-messages" id="chatMessages"></ul>
        <input class="message-input" type="text" id="messageInput" placeholder="Введите сообщение..." />
        <button class="send-button" onclick="sendMessage()">Отправить</button>
    </div>

    <script src="{{ url_for('static', path='/index.js') }}"></script>
</body>

</html>